[submodule "altium_libs"]
	path = altium_libs
	url = https://github.com/camradeling/altium_libs.git
[submodule "firmware/FreeRTOS-Kernel"]
	path = firmware/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "firmware/Libraries/modbuslib"]
	path = firmware/Libraries/modbuslib
	url = https://github.com/camradeling/modbuslib.git
[submodule "firmware/Libraries/tinyusb"]
	path = firmware/Libraries/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "fupdate/channellib"]
	path = fupdate/channellib
	url = https://github.com/camradeling/channellib.git
[submodule "fupdate/threadlib"]
	path = fupdate/threadlib
	url = https://github.com/camradeling/threadlib.git
[submodule "modbustest/modbuslib"]
	path = modbustest/modbuslib
	url = https://github.com/camradeling/modbuslib.git
